[user]
	name = Borisenko Andrew
	email = seigiard@gmail.com
[push]
  followTags = true
  default = current
[pull]
  rebase = true
[rebase]
  autoStash = true
[core]
  editor = nano
  autocrlf = input
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = delta
[delta]
  navigate = true
  side-by-side = true
[diff]
  algorithm = histogram
  colorMoved = true
  indentHeuristic = true
[difftool "webstorm"]
  cmd = /Applications/WebStorm.app/Contents/MacOS/webstorm diff "$LOCAL" "$REMOTE"
  trustExitCode = true
[difftool "zed"]
	cmd = zed --wait --diff $LOCAL $REMOTE
	trustExitCode = true
[difftool]
  prompt = false
[merge]
  conflictStyle = zdiff3
[mergetool "webstorm"]
  cmd = /Applications/WebStorm.app/Contents/MacOS/webstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
  trustExitCode = true
[mergetool]
  prompt = false
[pager]
  difftool = true
  mergetool = true
[alias]
  co = checkout
  st = status
  di = diff
  ci = commit
  up = remote update
  br = branch
  history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  mom = merge origin/main
  mum = merge upstream/main
  pullmain = "!f() { current=$(git branch --show-current); git fetch origin main:main 2>/dev/null || git fetch origin main 2>/dev/null && if [ \"$current\" = \"main\" ]; then git pull origin main &&     echo \"✅ Updated main branch\"; else     echo \"✅ Updated main from origin\" && echo \"📍 Still on branch: $current\"; fi\n}; f"
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = 11
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
  commit = yellow bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
