/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml)
{
    /* Please write your custom CSS under this line*/
    #sidebar-header {
        border: none !important;
        font-size: 1.25rem !important;
    }

    /* Hide bookmark icon in urlbar */
    #star-button-box,
    /* Hide context icon in urlbar */
    #userContext-label,
    /* Hide Reopen closed tab button */
    #undo-closed-tab,
    /* Floorp: Hide Show sidebar on the other side button */
    #sidebar-reverse-position-toolbar {
        display: none !important;
    }

    #sidebar-button {
        order: -1;
        margin-left: 10px !important;
    }
}
