/*
https://dev.to/colewalker/customizing-firefox-with-css-h4m

open about:config
set toolkit.legacyUserProfileCustomizations.stylesheets to true

open about:profiles
click on "Show in Folder" in Root Directory section for the profile you want to use
place this file in ./chrome/userChrome.css
*/

#sidebar-header {
    font-size: 1em !important;
}

#sidebar-close .toolbarbutton-icon {
    width: 1em;
    height: 1em;
}

#navigator-toolbox {
}
#titlebar {
}
#nav-bar {
}

@media (min-width: 1000px) {
    :root {
        --buttonbox-width: 7rem;
    }
    /* One Line Toolbox */
    #navigator-toolbox {
        flex-direction: row;
        position: relative;
        padding-left: var(--buttonbox-width);
    }
    /* Tabs */
    #titlebar {
        flex-grow: 1;
    }

    /* NavBar goes first and has limited width */
    #nav-bar {
        order: -1;
    }
    html.tabs-sidebar-is-active #nav-bar {
        width: 100%;
    }
    html:not(.tabs-sidebar-is-active) #nav-bar {
        width: clamp(250px, 50vw, 600px);
        flex-shrink: 0;
        flex-grow: 0;
    }
    html.tabs-sidebar-is-active #TabsToolbar {
        display: none;
    }
    html.tabs-sidebar-is-active #toolbar-menubar:not([autohide]) {
        visibility: visible;
    }
    /* MacOS: move window buttons to left corner */
    .titlebar-buttonbox-container {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: var(--buttonbox-width);
    }
    /* hide spacers */
    .titlebar-spacer {
        display: none;
    }
    #urlbar {
        /* Firefox */
        /* --urlbar-toolbar-height: 44px !important; */
        /* Waterfox */
        --urlbar-toolbar-height: 38px !important;
    }
}
